<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/chats"></ion-back-button>
    </ion-buttons>

    <ion-item lines="none" class="ion-no-margin ion-no-padding">
      <ion-avatar slot="start" >
        <img [src]="img" />
      </ion-avatar>
      <ion-label>
        <h2>{{name}}</h2>
        <p>Online</p>
      </ion-label>
      
   
    </ion-item>

    <ion-buttons slot="end" >
      <ion-button fill="clear" >
        <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/img/home light.jpg" height="100%" width="100%">
</ion-content>

<ion-footer>
  <ion-list lines="none">
    <ion-item>
      <span class="material-symbols-outlined">
        mood
        </span>
      <ion-input class="ion-margin-start" placeholder="Message"></ion-input>
      <span class="material-symbols-outlined">
        attach_file
        </span>
        <span class="material-symbols-outlined">
          photo_camera
          </span>
          <ion-button shape="round">
            <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
          </ion-button>
    
    </ion-item>
  </ion-list>
 
</ion-footer>
