<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chats" href="/tabs/tab1">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-badge color="primary">12</ion-badge>
      <ion-label>Chats</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="updates" href="/tabs/tab2" >
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label>Updates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="communities" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Communities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calls" href="/tabs/tab4">
      <ion-icon aria-hidden="true" name="call-outline"></ion-icon>
      <ion-label>Calls</ion-label>
    </ion-tab-button>
    

    
  </ion-tab-bar>
</ion-tabs>
