.groups {
    background-color: var(--ion-color-light-shade);
    color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
  .group-item {
    position: relative; 
  }
  
  .add-community-button {
    position: absolute;
   left:25px;
   top:35px;
   padding: 2px;
  }
  