<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class=" ion-no-padding">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://i.pravatar.cc/150?img=12" alt="prabu.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Prabu</h2>
        <p>Spread love</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="Key-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Account</h2>
        <p>Security notifications, change number</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Privacy</h2>
        <p>Block contacts,disappearing messages </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="aperture-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Avatar</h2>
        <p>Create, edit, profile photo </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="heart-outline"></ion-icon>
            <ion-label class="ion-padding-start">
        <h2>Favorites</h2>
        <p>Add, reorder, remove </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Chats</h2>
        <p>Theme, wallpapers, chat history </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Notifications</h2>
        <p>Message, group & call tones </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="stop-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Storage and data</h2>
        <p>Network usage, auto-download </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>App language</h2>
        <p>English(device's language) </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Help</h2>
        <p>Help center, contact us, privacy policy</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <h2>Invite a friend</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-padding-top">
    <ion-label class="ion-margin-start"><ion-text color="medium">Also from Meta</ion-text></ion-label>
    <ion-item lines="none">
      <ion-icon name="logo-instagram" ></ion-icon>
      <ion-label class="ion-padding-start" >Open Instagram</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="logo-facebook" ></ion-icon>
      <ion-label class="ion-padding-start" >Open Facebook</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="at-outline"></ion-icon>
      <ion-label class="ion-padding-start" >Open Threads</ion-label>
    </ion-item>
  </ion-list>

</ion-content>